// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #ff4f9a;
  --ion-color-primary-rgb: 255, 79, 154;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e04688;
  --ion-color-primary-tint: #ff61a4;

  --ion-color-secondary: #715bff;
  --ion-color-secondary-rgb: 113, 91, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #6350e0;
  --ion-color-secondary-tint: #806bff;

  --ion-background-color: #10101a;
  --ion-text-color: #ffffff;
}